RewriteEngine On
RewriteRule ^([a-zA-Z0-9\-\_]+)$ $1.php
RewriteRule administration/([a-zA-Z0-9\-\_]+)$ administration/$1.php
RewriteRule api/([a-zA-Z0-9\-\_]+)$ api/$1.php

# Régle de réécriture pour channels
RewriteRule ^channels/([0-9]+).([a-zA-Z]+)$   api/channels.php?channelId=$1&type=$2 [QSA]

# Régle de réécriture pour channels feeds
RewriteRule ^channels/([0-9]+)/feeds.([a-zA-Z]+)$   api/feeds.php?channelId=$1&type=$2 [QSA]

# Régle de réécriture pour proxy
RewriteRule ^proxy/channels/([0-9]+)/feeds.([a-zA-Z]+)$   proxy.php?channelId=$1&type=$2 [QSA]

# Régle de réécriture pour channels windows
RewriteRule ^channels/([0-9]+)/windows.([a-zA-Z]+)$   api/windows.php?channelId=$1&type=$2 [QSA]

# nécessite l'activation  a2enmod headers
Header edit Set-Cookie ^(.*)$ $1;SameSite=Strict

Options -Indexes
ErrorDocument 404 /Aggregator/erreur.php
ErrorDocument 403 /Aggregator/erreur.php
ErrorDocument 500 /Aggregator/erreur.php

